/* General styles for the entire page */
body{
    background: linear-gradient(to right,#87a3bf, #e680a4);
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    line-height: 1.6;
}

/* Container styles for the CV content */
.cv-container{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: auto;
}

/* Profile image styling */
.image{
    height: 150px;
    width: 150px;
    border: 2px solid #2353ad;
    border-radius: 50%;
    position: relative;    
}

/* Link styling */
a {
    color: #1d048b;
}


/* Horizontal rule styling */
hr {
    background-color: #265bb5;
    height: 1px;
    margin-top: 0.2em;
}

h2{
    font-size: 1.2em;
   margin-bottom: 0px;
}

.cv-container div h3 {
   margin-bottom: 0.2em;
}

.cv-container div p {
    margin-top: 0;
    margin-bottom: 0.2em;  
}

 .recommendations{
    font-size: 1.3em;
 }

 /* Responsive styles for smaller screens */
@media screen and (max-width: 600px) {
    .cv-container {
        padding: 10px;
    }

    .image {
        height: 120px;
        width: 120px;
    }
}